/*************************************************
	PAGE LAYOUT
*************************************************/
body {
	display: grid;
	grid-template-columns: 2% 1fr 2%;
	grid-template-rows: 1fr; /* chrome fix; originally: 5% 95%; */
	grid-template-areas:
		"header			header		header"
		"left-margin	main		right-margin";
	margin: 0 auto;
	padding-bottom: 30px;
	background-color: #eee;
	min-width: 280px;
	align-items: start; /* chrome fix */
}

#title {
	grid-area: header;
	text-align: center;
}

#left-margin {
	grid-area: left-margin;
}

#right-margin {
	grid-area: right-margin;
}

main {
	grid-area: main;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 1vh;
	grid-column-gap: 1%;
	justify-items: center;
}

@media (min-width: 1110px) {
	body {
	 grid-template-columns: 1fr 1000px 1fr;	
	}
	
	main {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 1109px) and (min-width: 720px) {
	body {
		grid-template-columns: 1fr 700px 1fr;
	}
	
	main {
		grid-template-columns: repeat(2, 1fr);
	}
}


/*************************************************
	HEADER
*************************************************/
#title {
	background-color: #6441a4;
	height: 15vh;
	min-height: 78px;
	margin-bottom: 10px;
	margin-top: 0;
	display: flex;
	flex-direction: column;
	color: white;
	z-index: 1;
}

#title h1 {
	margin: 0 auto;
}

#filter {
	display: grid;
	grid-template-columns: 0% 1fr 1fr 1fr 0%;
	align-self: center;
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0 auto;
	margin-top: auto;
	justify-content: center;
}

#filter li {
	list-style-type: none;
	max-width: 300px;
	width: 100%;
	border-bottom: 10px solid transparent;
	justify-self: center;
	padding-top: 5px;
	font-size: 1.4em;
	color: #bbb;
	margin-left: -10px;
	margin-right: -10px;
}

#filter li:hover {
	border-color: white;
	cursor: pointer;
	color: white;
}

#filter li.active {
	border-color: white;
	color: white;
}

@media (min-width: 1110px) {
	#filter li:nth-child(3n-4) {
		justify-self: end;
	}

	#filter li:nth-child(3n-2) {
		justify-self: start;
	}
	
	#filter {
		grid-column-gap: 47px;
		grid-template-columns: 1fr 300px 300px 300px 1fr;
	}
}

@media (max-width: 1109px) and (min-width: 720px) {
	#filter {
		grid-template-columns: 1fr 218px 218px 218px 1fr;
	}
}

/*************************************************
	STREAMERS
*************************************************/
.streamer {
	position: relative;
	display: flex;
	align-items: center;
	background-color: grey;
	width: 100%;
	height: 100%;
	background-color: white;
	transition: all .2s ease-in-out;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.streamer:hover {
	transform: scale(1.02);
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.streamer-img {
	max-height: 25vw;
	width: auto;
}

.inner-container {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.streamer-name {
	width: 85%;
	font-size: 1.25em;
	font-weight: 800;
	word-wrap: break-word;
	word-break: break-all;
	margin-left: 5px;
}

.streamer-game {
	margin-left: 5px;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.streamer-status {
	margin-top: auto;
	margin-left: 5px;
	font-size: 12px;
	margin-bottom: 10px;
}

.streamer-status-icon {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	position: absolute;
	top: 5%;
	right: 2%;
}

.view-streamer {
  height: 25%;
	margin: 5px;
	background-color: #6441a4;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: white;
	font-size: 1.25em;
}

.view-streamer:hover {
	background-color: #7552b5;
}

@media (min-width: 720px) {
	.streamer {
		flex-direction: column;
		max-width: 300px;
	}
	
	.streamer-img {
		width: 100%;
		height: auto;
		max-height: 50vw;
	}
	
	.streamer-status {
		min-height: 30px;
		padding-bottom: 10px;
		padding-top: 10px;
	}
	
	.view-streamer {
		height: 50px;
	}
}

@media (max-width: 345px) {
	.streamer {
		display: flex;
		flex-direction: column;
	}
}